@charset "ISO-8859-1";

body {
	background-color: #ffff80;
}

/*Navbar*/
nav {
	background-color: #c0c0c0;
}

nav li {
	/**/
	/*richtet navbar Elemente vertikal aus*/
	display: inline-flex;
	align-self: space-between;
	/*setzte unterteilung*/
	border-right: 1px solid yellow;
	border-left: 1px solid yellow;
}

nav ul {
	list-style-type: none;
	/*Abstand zu Decke*/
	margin: 0;
	/*Abstand zu Seite*/
	padding: 0;
}

nav a {
	color: black;
	/*entfernt linkunterstrich*/
	text-decoration: none;
	padding: 2px;
	margin: 2px;
}

nav a:hover {
	background-color: white;
}
/* letztes Element der Navbar nach rechts*/
nav li:last-child {
	float: right;
}

/*Tabelle*/
table {
	border: 1px solid;
}

table td {
	border: 1px solid;
}

/*form*/
form {
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	background-color: rgb(128, 255, 0);
}

input[type=text] {
	border-bottom: 2px solid red
}

.form {
	/*weite des formular fenster*/
	max-width: 300px;

}

textarea {
	padding: 3px;
	margin: 3px;
}

select {
	width: 100%;
	border: none;
	border-radius: 4px;
	background-color: #f1f1f1;
}

/*LogIn*/ 
/* Set a style for all buttons */

.LogIn {
	display:flex;
	flex-direction: inline;
	padding: 5px;
	margin:5px;
	justify-content: center;
	text-align: center;
	
	
}

button {
  background-color: #04AA6D;
  color: black;
  padding: 4px 5px;
  margin: 8px 0;
  border: 1px black;
  cursor: pointer;
  width: 100%;
  max-width: 100px;
}
button:hover{
	opacity: 80%;
}

.LoginInner{
	text-align: center;
}

.dropdown-content {
	display: none;
}